@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Montserrat:wght@500;600;700&family=Roboto:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .__create_blog_form_title {
    @apply text-lg lg:text-[22px] lg:leading-[26px] text-dark;
  }
  .__create_blog_form_subtitle {
    @apply text-xs lg:text-[14px] lg:leading-[17px] font-montserrat font-normal italic text-black/60 mt-1;
  }
  .__create_blog_form_input {
    @apply outline-none border border-[#DEE2DF] rounded w-full max-h-[38px] text-[13px] focus:border-[#cccecd] py-2.5 px-3 placeholder:text-black/10 text-dark font-medium;
  }
  .__create_blog_form_btn {
    @apply outline-none rounded-[5px] bg-dark py-[10px] text-white text-sm text-center font-bold w-full border border-dark hover:bg-white hover:text-dark duration-200;
  }

  .__login_title {
    @apply font-montserrat font-semibold text-[20px] leading-[24px] text-dark;
  }
  .__login_grid {
    @apply grid grid-cols-1 gap-4 sm:grid-cols-2 sm:gap-3 md:gap-x-6 md:gap-y-3 mt-4 mb-[18px];
  }

  .__login_btn {
    @apply px-12 py-3 text-[13px] bg-primary rounded-[5px] outline-none text-center text-white hover:bg-primary/90;
  }
}

._svg_spinner {
  animation: rotate 2s linear infinite;
}

._svg_spinner .path {
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
}

.__checkbox:checked + .__checkbox_content {
  @apply border-primary;
}
.__checkbox:checked + .__checkbox_content .__unchecked {
  @apply hidden;
}
.__checkbox:checked + .__checkbox_content .__checked {
  @apply block;
}

.__input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  @apply py-[8.5px] text-[13px] px-[15px] border border-[#DEE2DF] focus:border-[#c9ccc9] w-full outline-none rounded-[3px];
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
