@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500;700&family=Roboto:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .__create_blog_form_title {
    @apply text-lg lg:text-[22px] lg:leading-[26px] text-dark;
  }
  .__create_blog_form_subtitle {
    @apply text-xs lg:text-[14px] lg:leading-[17px] font-montserrat font-normal italic text-black/60 mt-1;
  }
  .__create_blog_form_input {
    @apply outline-none border border-[#DEE2DF] rounded w-full max-h-[38px] text-[13px] focus:border-[#cccecd] py-2.5 px-3 placeholder:text-black/10 text-dark font-medium;
  }
  .__create_blog_form_btn {
    @apply outline-none rounded-[5px] bg-dark py-[10px] text-white text-sm text-center font-bold w-full border border-dark hover:bg-white hover:text-dark duration-200;
  }
}

._svg_spinner {
  animation: rotate 2s linear infinite;
}

._svg_spinner .path {
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
}
